.logo-image
{
  cursor: pointer;
  outline: none;
}

button{
  margin-left: 15px;
}

.student-list-btn{
  margin-left: 30px;
}
.header-toolbar {
  position: fixed;
  z-index: 2;
}
.exampleflex{
  flex: 1 1 auto;
}